/*---------------Home---------------*/
body {
	margin: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background: rgb(77,68,90);
	background: linear-gradient(90deg, rgba(77,68,90,1) 0%, rgba(77,68,90,1) 22%, rgba(134,138,173,1) 71%);
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	width: 100%;
	font-size: 16px;
	min-height: 60px;
	font-family: monospace;
	background-color: #4d445a;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/*---------------Header-------------*/
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35px;
	padding: 10px;
	max-width: 1200px;
}

.header-text {
	display: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: monospace;
}

.nav {
	display: flex;
}

.nav li:nth-child(-n+3) {
	padding-right: 5px;
	border-right: 2px solid #fff;
}

.nav a {
	color: #fff;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	font-family: monospace;
	text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.nav a:hover {
	text-decoration: underline;
}

/*---------------Main-------------*/
.container {
	margin: 0 auto;
	max-width: 1200px;
}

.box {
	display: flex;
	flex-direction: column;
	;
}

.section-title {
	text-align: center;
	border-bottom: 2px solid #141414;
	
}
.section-title h2 {
	font-size: 20px;
	font-family: monospace;
}

.section-text {padding: 10px; }
.section-text1 {padding: 15px; }
.section-text2 {padding: 15px; width: 70% }

.icon{
	display: flex;
	justify-content: space-between;
	width: 55px;
	
}
.linkd{
	display: flex;
	justify-content: space-between;
	width: 45px;
}

.contact-cl {
	display: flex;
	justify-content: space-between;
	
}
.contact-cl li{
	width: 42px;
	max-width: 42px;
}


.photo {
	width: 100%;
	text-align: center;
}
.photo img {

	width: 120px;
	height: 120px;
	border-radius: 50%;
	shape-outside: circle(50%);
}

.projects {
	display: flex;
	flex-wrap: wrap;
}
.projects img {
	width: 100%;
	height: auto;
	border: 1px solid #000;
	box-sizing: border-box;
}
.projects li {
	width: 50%;
	padding: 2px;
	box-sizing: border-box;
}

.projects li:first-child {
	width: 100%;
}

.background {
	position: fixed;
	z-index: -1;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	background-image: url(../img/background.jpg);
}


/**************************
 *         Media          *
 **************************/
@media (min-width:320px) {}
@media (min-width:480px) {}
@media (min-width:600px) {
	.header {
		min-height: 58px; 
		margin: 0 auto;
		justify-content: space-between;}
	.header-text{display: block;}
}
@media (min-width:801px) {
	.photo {display: none;}
	.box {flex-direction: row;padding: 20px;}
	.section-title {
		text-align: right;
		border-bottom: none;
		border-right: 2px solid #141414
	}
	.section-title h2 {
		font-size: 24px;
		padding-right: 20px;
	}
	.section-text {padding: 20px;}
	#about-me {padding-left: 87px;}
	#work {padding-left: 100px;}
	#resume {padding-left: 73px;}
	.photo {display: flex;}
}
@media (min-width:1025px) {}
@media (min-width:1281px) {}